* {
    padding: 0;
    margin: 0;
}

/*font google*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
/*font-family: 'Ubuntu Mono', monospace;*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Square+Peg&display=swap');

/*font-family: 'Bangers', cursive;
font-family: 'Square Peg', cursive;*/
@media screen and (max-width: 450px) @media screen {
    (min-width: 451px max-width:960px)
}


/*menu de inicio*/
.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    size: 100px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.854);
}

.menu {
    /* background-color: khaki; */
    height: 100px;
}

/*lista del menu*/
.lista-menu {
    display: flex;
    list-style: none;
}

.item {
    margin-left: 55px;
    padding: 10px;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 900;
}

.item:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}

.logo-menu:hover {
    transform: scale(1.2, 1.2);
    transition: all 1s;
}


/*menu de inicio end*/



/*footer*/
.footer-back {
    /*background: khaki;*/
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.iconos-lista {
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.formulario-viajamos-kilometros {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
    margin-left: 90px;
}

/*footer end*/

/*pagina principal*/
.principal {
    /* background-color: khaki;*/
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px;
    justify-content: space-between;
    grid-template-rows: auto auto auto;
    gap: 10px;
    column-gap: 30px;
    padding: 100px;
    width: 890px;
    height: 1300px;
}

.parrafo-fotos {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    -webkit-box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);
    -moz-box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);
    box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    }

.parrafo {
    font-style: italic;
    font-size: 14px;
}

.foto-detalle {
    -webkit-box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);
    -moz-box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);
    box-shadow: -2px 1px 38px 9px rgba(94, 143, 94, 0.92);


}

.no-se-muestra {
    border-radius: solid khaki 10px;
}


/*media screen   media screen  media screen  media screen*/



@media screen and (max-width: 450px) {

    /*principallll*/
    .principal {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: 1300px;
    }

    /*.parrafo-fotos {
        height: 200px;
        }*/
    .no-se-muestra {
        display: none;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        padding: 50px;
    }

    /*foooterrrr*/
    .footer-back {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    /*pagina chalten*/
    .fotos-videos-chalten {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        justify-items: center;
        height: 650px;
        row-gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .parrafo-video {
        height: 200px;
        box-sizing: 100px 100px;
    }

    /*pagina la compañia*/
    .titulos-fotos-perros {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        align-items: center;
        height: 650px;
        row-gap: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .texto-vitacora {
        display: none;
    }

    .foto-a-galeria {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 300px;
    }

}


/*pagina chalten*/
.fotos-videos-chalten {
    background-color: khaki;
    width: 890px;
    height: 210px;
    display: grid;
    /*justify-content: center;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 130px;
    align-content: space-between;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parrafo-video {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: green;
    width: 400px;
    height: 270px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 6px;
}

.titulos-llegada-chalten {
    color: green;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tituloh1-chalten {
    /*  border-radius: 5px;
        border: solid black 2px;*/
    font-weight: bolder;
    font-size: 50px;
    padding: 10px;
}

.tituloh2-chalten {
    /* border-radius: 5px;
        border: solid black 2px;*/
    font-weight: bolder;
    font-size: 30px;
    padding: 10px;
}

/*pagina chalten end*/

/*pagina el viaje*/
.foto-a-galeria {
    height: 310px;
    width: 1100px;
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.titulo-vitacora {
    color: green;
font-family: 'Ubuntu Mono', monospace;
}

.texto-vitacora {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-radius: 10px;
    border: solid black 3px;
    width: 400px;
    height: 200px;
    font-family: 'Ubuntu Mono', monospace;

}

/*pagina viajando end*/

/*paigina compañia*/
.titulos-fotos-perros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 300px;
    width: 100%;
    background-color: khaki;
    padding: 122px;
    column-gap: 10px;
    display: flex;
    justify-content: center;
}

.titulos-fotos {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
    border-radius: 10px;
    border: solid black 3px;
    padding: 10px;
}

/*paigina compañia end*/


/*pagina viajamos*/
.viajamos {
    background-color: khaki;
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.formulario-contacto-viajar {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(./imagenes/el-calafate-hielo.jpg);
    color: green;
}

/*pagina viajamos end*/